:root {
    --black: #000000;
    --gold: #bf8f00;
  }

  @font-face {
    font-family: "ALGER";
    src:url('./fonts/ALGER.woff') format('woff'),
        url('./fonts/ALGER.TTF') format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0px;
}

body { 
    background-color: var(--black); 
}

header {
    display: flex;
    align-items: center;
    background-color: var(--gold);
    position: sticky;
    top: 0;
    width: 100vw;
    padding: 10px;
}

.header-column-left {
    display: flex;
    align-items: center;
    float: left;
}

.header-column-middle {
    display: flex;
    align-items: center;
}

.header-column-right {
    display: flex;
    align-items: center;
    float: right;
}


footer {
    background-color: var(--gold);
    width: 100vw;
}

h1 {
    font-family: 'ALGER';
    font-weight: normal;
    color: var(--gold);
    -webkit-font-smoothing: antialiased; /* Chrome, Safari */
    -moz-osx-font-smoothing: grayscale; /* Firefox */
}

.logo {
    width: 100px;
    height: 100px;
}

