:root {
    --black: #000000;
    --gold: #bf8f00;
  }

  @font-face {
    font-family: "ALGER";
    src:url('./fonts/ALGER.woff') format('woff'),
        url('./fonts/ALGER.TTF') format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0px;
}

body{ 
    background-color: var(--black);
}

header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--gold);
    background-color: var(--black);
    position: sticky;
    top: 0;
    width: 100vw;
    padding: 10px;
}

.header-column-left {
    display: flex;
    align-items: center;
    float: left;
}

.header-column-middle {
    display: flex;
    align-items: center;
}

.header-column-right {
    display: flex;
    align-items: center;
    float: right;
}

.main-row {
    display: flex;
    align-items: center;
    align-items: stretch;
    justify-content: center;
}

.main-column-left, .main-column-right {
    display: flex;
    align-items: center;
    border: 1px solid var(--gold);
    padding: 15px;
    min-width: 25vw;
}

.main-column-left {
}

.main-column-right {
}


footer {
    display: flex;
    align-items: center;
    position: absolute;
    background-color: var(--black);
    border-top: 1px solid var(--gold);
    width: 100vw;
    padding: 10px;
    bottom: 0;
}

.footer-column-left {
    display: flex;
    align-items: center;
    float: left;
}

.footer-column-middle {
    display: flex;
    align-items: center;
}

.footer-column-right {
    display: flex;
    align-items: center;
    float: right;
}


h1 {
    font-family: 'ALGER';
    font-weight: normal;
    color: var(--gold);
    -webkit-font-smoothing: antialiased; /* Chrome, Safari */
    -moz-osx-font-smoothing: grayscale; /* Firefox */
}

.logo {
    width: 100px;
    height: 100px;
}

